{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block h1 %}Skystore{% endblock %}

{% block p %}Skystore Blog{% endblock %}

{% block content %}
{% for post in posts %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ post.preview | media_filter }}" class="img-fluid rounded-start"
                 alt="{{ post.title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text|truncatechars:100 }}</p>
                <a href="{% url 'blog:post_detail' post.pk %}" class="btn btn-lg btn-outline-primary">Выбрать</a>
                <figcaption class="blockquote-footer text-end">
                    {{ post.count_views }} <cite title="Source Title">Просмотров</cite>
                </figcaption>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}