{% extends 'catalog/base.html' %}

{% block navbar %}
{% include 'catalog/navbar.html' %}
{% endblock %}

{% block h1 %}Skystore{% endblock %}

{% block p %}Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
продать{% endblock %}

{% block content %}
<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Добавить новый товар</h4>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="product-form">
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.name.id_for_label }}">Название товара</label>
                <input type="text" name="{{ form.name.name }}" class="form-control" id="{{ form.name.id_for_label }}"
                       placeholder="Введите название"
                       required>
            </div>
            <div class="mb-3">
                <label for="{{ form.price.id_for_label }}">Цена</label>
                <input type="text" name="{{ form.price.name }}" class="form-control" id="{{ form.price.id_for_label }}"
                       placeholder="0.00 р"
                       required>
            </div>
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}">Описание товара</label>
                <textarea type="text" name="{{ form.description.name }}" class="form-control"
                          id="{{ form.description.id_for_label }}"
                          placeholder="Описание товара" required></textarea>
            </div>
            <div class="mb-3">
                <label for="{{ form.category.id_for_label }}">Категория товара</label>
                <select class="form-select form-select-lg mb-3"
                        aria-label="Large select example"
                        name="{{ form.category.name }}"
                        id="{{ form.category.id_for_label }}"
                        required>
                    <option selected>Выберете категорию товара</option>
                    {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                {% if form.category.errors %}
                <div class="text-danger small">
                    {% for error in form.category.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="{{ form.product_image.id_for_label }}" class="form-label">Изображение товара</label>
                <input name="{{ form.product_image.name }}" class="form-control" type="file"
                       id="{{ form.product_image.id_for_label }}">
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Добавить</button>
            <a href="{% url 'catalog:add_product' %}" class="btn btn-lg btn-block btn-outline-primary">
                <i class="bi bi-arrow-left me-2"></i>Отмена
            </a>
        </form>
    </div>
</div>
{% endblock %}