{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block navbar %}
{% include 'catalog/navbar.html' %}
{% endblock %}

{% block h1 %}Skystore{% endblock %}

{% block p %}Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
продать{% endblock %}

{% block content %}
<!-- Сюда будет подставляться контент дочерних шаблонов -->
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.product_image | media_filter }}" class="img-fluid rounded-start"
                 alt="{{ product.name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                {% if perms.catalog.can_unpublish_product or product.owner == user %}
                    <a href="{% url 'catalog:product_edit' product.pk %}" class="btn btn-lg btn-outline-secondary">Редактировать</a>
                {% endif %}
                {% if perms.catalog.can_delete_product or product.owner == user %}
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-lg btn-outline-danger">Удалить</a>
                {% endif %}
                <a href="{% url 'catalog:product_list' %}" class="btn btn-lg btn-outline-primary">Вернуться к списку</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}