{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block navbar %}
  {% include 'catalog/navbar.html' %}
{% endblock %}

{% block h1 %}Skystore{% endblock %}

{% block p %}Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
продать{% endblock %}

{% block content %}
<div class="col">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.product_image | media_filter }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product.description|truncatechars:100 }}</li>
                    </ul>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}